


body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 2rem;
  color: #222831;
  margin: 0;
}

h3 {
  margin: 30px 0;
  font-size: 1.8rem;

}

p {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #222831;
  margin: 0;
  line-height: 2;
}


.container {
    max-width: 100vw;
}

/* Title Section */

.topcontainer {
  background-color: rgb(75, 129, 198);
  text-align: center;
  height: 800px;
  padding: 0;
  position: relative;

}

.RadCamImg {
  height: auto;
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.title {
  padding-top: 200px;
  padding-bottom: 50px;
  margin: 0;
  color: #ececec;
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
}

.subtitle {
  padding-top: 100px;
}

/* Profile Section */
.profilecontainer {
  background-color: #ececec;
  text-align: center;
  height: auto;

}

.ProfilePic {
  border-radius: 50%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 60px;

}

.profiletext {
  width: 60%;
  margin: auto;
  line-height: 2;
  font-size: 1.2rem;
}

/* divider */

.dividercontainer {
  height: auto;
  background-color: #ececec;
  text-align: center;
}

.divider {
  width: 30%;
  height: auto;
}


/* content section */

.contentcontainer {
  background-color: #ececec;
  padding: 50px 0;
}


.contentimg {
  height: auto;
  width: 50%;
  border-radius: 50%;
}

.contentimg:hover {
  opacity: 0.7;
}

/* footer */

.footer {
  background-color: rgb(75, 129, 198);
  text-align: center;
  padding-top: 50px;
}

.SMimg {
  padding-top: 50px;
}

.SMimg:hover {
  opacity: 0.7;
}

.ctext {
  color: #ececec;
  font-size: 0.8rem;
  padding-top: 50px;
  padding-bottom: 50px;
}

.txtoncolour {
  color: #ececec;
}

.foottext {
  margin-top: 50px;
}

/* child pages */

.navbar {
  background-color: rgb(75, 129, 198);
}

.navbar-brand {
  font-size: 2rem;
}

.pagetitle {
  padding: 30px;
  font-size: 3rem;
}

.linksonlight {
  color: rgb(75, 129, 198);
}

.gamecontainer {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 50px;
}

.gameimage {
  border-radius: 25px;
  margin-top: 30px;
}

.gameimage:hover {
  opacity: 0.7;
}

.projecttext {
  width: 60%;
  margin: auto;
  line-height: 2;
  padding-bottom: 30px;
  font-size: 1.2rem;
}

.holdingimg {
  width: 50vw;
  height: auto;
  margin: 50px auto;
}

.CVPic {
  height: auto;
  width: 25vw;
  border-radius: 50%;
}

.CVcontainer {
  background-color: #ececec;
  padding: 50px 0 0 0;
}

.CVcontainerfinal {
  background-color: #ececec;
  padding: 50px 0;
}

.CVText {
  padding: 50px 30px
}

.cvhr {
  width: 30%;
  border: 1px solid silver;
  margin-top: 40px;
}

.cvsubhead {
  padding: 20px 0;
}

.cvskills {
  width: 80%;
  margin: auto;
  text-align: left;
}

.eduimage {
  margin-top: 20px;
}

.educol {
  padding: 20px;
}

.werow {
  margin-top: 20px;
}

@media (max-width: 700px) {
  .RadCamImg {
    height: auto;
    width: 100%;
  }

  .topcontainer {
    background-color: rgb(75, 129, 198);
    text-align: center;
    height: 820px;
    padding: 0;
    position: relative;
  }
  .title {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 5.5rem;
  }
  .subtitle {
    padding-top: 50px;
  }

  .pagetitle {
    padding: 30px;
    font-size: 2rem;
  }
  .projecttext {
    width: 80%;
    margin: auto;
    font-size: 1rem;
  }
  .holdingimg {
    width: 80vw;
    height: auto;
  }

}
